In [4]:
import pandas as pd  
games = pd.read_csv("games.csv")  
sales = pd.read_csv("vgsales.csv")

In [5]:
games

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
0,0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17K,3.8K,4.6K,4.8K
1,1,Hades,"Dec 10, 2019",['Supergiant Games'],4.3,2.9K,2.9K,"['Adventure', 'Brawler', 'Indie', 'RPG']",A rogue-lite hack and slash dungeon crawler in...,['convinced this is a roguelike for people who...,21K,3.2K,6.3K,3.6K
2,2,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Nintendo', 'Nintendo EPD Production Group No...",4.4,4.3K,4.3K,"['Adventure', 'RPG']",The Legend of Zelda: Breath of the Wild is the...,['This game is the game (that is not CS:GO) th...,30K,2.5K,5K,2.6K
3,3,Undertale,"Sep 15, 2015","['tobyfox', '8-4']",4.2,3.5K,3.5K,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...","A small child falls into the Underground, wher...",['soundtrack is tied for #1 with nier automata...,28K,679,4.9K,1.8K
4,4,Hollow Knight,"Feb 24, 2017",['Team Cherry'],4.4,3K,3K,"['Adventure', 'Indie', 'Platform']",A 2D metroidvania with an emphasis on close co...,"[""this games worldbuilding is incredible, with...",21K,2.4K,8.3K,2.3K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,1507,Back to the Future: The Game,"Dec 22, 2010",['Telltale Games'],3.2,94,94,"['Adventure', 'Point-and-Click']",Back to the Future: The Game is one of Telltal...,['Very enjoyable game. The story adds onto the...,763,5,223,67
1508,1508,Team Sonic Racing,"May 21, 2019","['Sumo Digital', 'Sega']",2.9,264,264,"['Arcade', 'Racing']",Team Sonic Racing combines the best elements o...,"['jogo morto mas bom', 'not my cup of tea', ""C...",1.5K,49,413,107
1509,1509,Dragon's Dogma,"May 22, 2012",['Capcom'],3.7,210,210,"['Brawler', 'RPG']","Set in a huge open world, Dragon’s Dogma: Dark...","['Underrated.', 'A grandes rasgos, es como un ...",1.1K,45,487,206
1510,1510,Baldur's Gate 3,"Oct 06, 2020",['Larian Studios'],4.1,165,165,"['Adventure', 'RPG', 'Strategy', 'Tactical', '...","An ancient evil has returned to Baldur's Gate,...",['Bu türe bu oyunla girmeye çalışmak hataydı s...,269,79,388,602
1511,1511,The LEGO Movie Videogame,"Feb 04, 2014","['WB Games', 'TT Fusion']",2.8,184,184,"['Adventure', 'Puzzle']",Join Emmet and an unlikely group of resistance...,"['Legal', 'Pretty Average Lego Game But It Was...",1.7K,11,239,73

In [6]:
sales

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [ ]:
## removing duplicates and unused columns
games.drop_duplicates(inplace=True)
sales.drop_duplicates(inplace=True)

cols_to_drop = ['unused_col1', 'unused_col2']
games.drop(columns=[col for col in cols_to_drop if col in games.columns], inplace=True)

In [9]:
##missing 
games['Rating'].fillna(games['Rating'].median(), inplace=True)
sales['Publisher'].fillna('Unknown', inplace=True)

C:\Users\Iniyavan\AppData\Local\Temp\ipykernel_8412\367927752.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  games['Rating'].fillna(games['Rating'].median(), inplace=True)
C:\Users\Iniyavan\AppData\Local\Temp\ipykernel_8412\367927752.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales['Publisher'].fillna('Unknown', inplace=True)

In [14]:
# Clean up column names
games.columns = games.columns.str.strip()
sales.columns = sales.columns.str.strip()


# Check what columns you have
print(games.columns)
print(sales.columns)

# Now you can safely normalize Platform if it exists
if 'Platform' in games.columns:
    games['Platform'] = games['Platform'].str.lower().str.strip()
    
else:
    print("Column 'Platform' not found!")

Index(['Unnamed: 0', 'Title', 'Release Date', 'Team', 'Rating', 'Times Listed',
       'Number of Reviews', 'Genres', 'Summary', 'Reviews', 'Plays', 'Playing',
       'Backlogs', 'Wishlist'],
      dtype='object')
Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')
Column 'Platform' not found!

In [57]:


# === Load and clean games.csv ===
games = pd.read_csv('games.csv')
drop_game_cols = ['Unnamed: 0', 'game_id', 'Release Date']
games = games.drop(columns=[col for col in drop_game_cols if col in games.columns])

# === Load and clean sales.csv ===
sales = pd.read_csv('vgsales.csv')
drop_sales_cols = ['Unnamed: 0', 'sales_id']
sales = sales.drop(columns=[col for col in drop_sales_cols if col in sales.columns])

In [ ]:
if 'Release Date' in games.columns:
    games = games.rename(columns={'Release Date': 'release_year'})

if 'Sales Date' in sales.columns:
    sales = sales.rename(columns={'Sales Date': 'sales_year'})

In [16]:

# Strip column names to avoid hidden space issues
games.columns = games.columns.str.strip()

# Check if date parts exist before combining
date_cols = ['Year', 'Month', 'Day']
if all(col in games.columns for col in date_cols):
    # Ensure columns are numeric
    games['Year'] = pd.to_numeric(games['Year'], errors='coerce')
    games['Month'] = pd.to_numeric(games['Month'], errors='coerce')
    games['Day'] = pd.to_numeric(games['Day'], errors='coerce')

    # Combine into a datetime column
    games['Release_Date'] = pd.to_datetime(games[['Year', 'Month', 'Day']], errors='coerce')
else:
    print("One or more of 'Year', 'Month', 'Day' columns are missing in `games`.")

# --- SALES DataFrame ---

# Strip column names
sales.columns = sales.columns.str.strip()

# Convert sales columns to numeric and fill NaNs
sales_columns = ['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']
for col in sales_columns:
    if col in sales.columns:
        sales[col] = pd.to_numeric(sales[col], errors='coerce').fillna(0)
    else:
        print(f"Column '{col}' not found in `sales` DataFrame.")

One or more of 'Year', 'Month', 'Day' columns are missing in `games`.

In [19]:
# Strip column names to avoid KeyError from hidden spaces
games.columns = games.columns.str.strip()
sales.columns = sales.columns.str.strip()

# --- SAFELY Create Total_Sales ---
sales_cols = ['NA_Sales','EU_Sales','JP_Sales','Other_Sales']
existing_sales_cols = [col for col in sales_cols if col in sales.columns]

if existing_sales_cols:
    sales['Total_Sales'] = sales[existing_sales_cols].sum(axis=1)
else:
    print("No sales columns found in 'sales' DataFrame.")

# --- SAFELY Compute Title Length ---
if 'Name' in games.columns:
    games['Title_Length'] = games['Name'].astype(str).str.len()
else:
    print("Column 'Name' not found in 'games' DataFrame.")

# --- SAFELY Categorize Genre ---
if 'Genre' in games.columns:
    games['Genre'] = games['Genre'].str.strip().str.title()  # Clean genre names

    def categorize_genre(g):
        if g in ['Action', 'Adventure']:
            return 'Action/Adventure'
        elif g in ['Sports', 'Racing']:
            return 'Sports/Racing'
        elif g in ['RPG', 'Strategy']:
            return 'RPG/Strategy'
        else:
            return 'Other'

    games['Genre_Category'] = games['Genre'].apply(categorize_genre)
else:
    print("Column 'Genre' not found in 'games' DataFrame.")

Column 'Name' not found in 'games' DataFrame.
Column 'Genre' not found in 'games' DataFrame.

In [26]:
import mysql.connector

In [ ]:
import mysql.connector


conn = mysql.connector.connect(
    host="localhost",
    user="root",             
    password="Maha2301##" 
)

cursor = conn.cursor()

cursor.execute("CREATE DATABASE IF NOT EXISTS game_db")

print("Database 'game_db' created successfully!")

cursor.close()
conn.close()

Database 'game_db' created successfully!

In [37]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Maha2301##",
    database="game_db"
)

In [ ]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Maha2301##",  
    database="game_db"  
)

cursor = conn.cursor()


sql_statements = [
    """
    CREATE TABLE IF NOT EXISTS Genre (
        genre_id INT AUTO_INCREMENT PRIMARY KEY,
        genre_name VARCHAR(100) UNIQUE NOT NULL
    );
    """,
    """
    CREATE TABLE IF NOT EXISTS Platform (
        platform_id INT AUTO_INCREMENT PRIMARY KEY,
        platform_name VARCHAR(100) UNIQUE NOT NULL
    );
    """,
    """
    CREATE TABLE IF NOT EXISTS Game (
        game_id INT AUTO_INCREMENT PRIMARY KEY,
        title VARCHAR(255) NOT NULL,
        release_year INT
    );
    """,
    """
    CREATE TABLE IF NOT EXISTS Publisher (
        publisher_id INT AUTO_INCREMENT PRIMARY KEY,
        publisher_name VARCHAR(255) UNIQUE NOT NULL
    );
    """,
    """
    CREATE TABLE IF NOT EXISTS Game_Platform_Publisher (
        gpp_id INT AUTO_INCREMENT PRIMARY KEY,
        game_id INT,
        platform_id INT,
        publisher_id INT,
        year_released INT,
        FOREIGN KEY (game_id) REFERENCES Game(game_id),
        FOREIGN KEY (platform_id) REFERENCES Platform(platform_id),
        FOREIGN KEY (publisher_id) REFERENCES Publisher(publisher_id)
    );
    """,
    """
    CREATE TABLE IF NOT EXISTS Region (
        region_id INT AUTO_INCREMENT PRIMARY KEY,
        region_name VARCHAR(50) UNIQUE NOT NULL
    );
    """,
    """
    CREATE TABLE IF NOT EXISTS Sales (
        sales_id INT AUTO_INCREMENT PRIMARY KEY,
        gpp_id INT,
        region_id INT,
        sales_amount FLOAT NOT NULL,
        FOREIGN KEY (gpp_id) REFERENCES Game_Platform_Publisher(gpp_id),
        FOREIGN KEY (region_id) REFERENCES Region(region_id)
    );
    """,
    """
    CREATE TABLE IF NOT EXISTS Engagement (
        engagement_id INT AUTO_INCREMENT PRIMARY KEY,
        game_id INT,
        plays INT DEFAULT 0,
        wishlist INT DEFAULT 0,
        rating FLOAT DEFAULT 0,
        FOREIGN KEY (game_id) REFERENCES Game(game_id)
    );
    """
]

for stmt in sql_statements:
    cursor.execute(stmt)

conn.commit()
cursor.close()
conn.close()

print("All tables created successfully.")

All tables created successfully.

In [ ]:
import pandas as pd
import mysql.connector

try:
  
    conn = mysql.connector.connect(
        host='localhost',
        user='root',
        password='Maha2301##',
        database='game_db'
    )
    cursor = conn.cursor()

    # Load and clean the CSVs
    games = pd.read_csv('games.csv')
    sales = pd.read_csv('vgsales.csv')

   
    if 'Unnamed: 0' in games.columns:
        games = games.drop(columns=['Unnamed: 0'])
    if 'game_id' in games.columns:
        games = games.drop(columns=['game_id'])

   
    if 'Release Date' in games.columns:
        games = games.rename(columns={'Release Date': 'release_year'})

    # If you also need to clean sales:
    if 'Unnamed: 0' in sales.columns:
        sales = sales.drop(columns=['Unnamed: 0'])
    if 'sales_id' in sales.columns:
        sales = sales.drop(columns=['sales_id'])
    if 'Sales Date' in sales.columns:
        sales = sales.rename(columns={'Sales Date': 'sales_date'})

    # Insert into Game table
    cols = ", ".join(f"`{col}`" for col in games.columns)
    placeholders = ", ".join(["%s"] * len(games.columns))
    sql = f"INSERT INTO Game ({cols}) VALUES ({placeholders})"

    for row in games.itertuples(index=False, name=None):
        cursor.execute(sql, row)

    conn.commit()
    print("✅ Game data inserted successfully.")

except mysql.connector.Error as err:
    print(f"❌ MySQL Error: {err}")
except FileNotFoundError as fnf:
    print(f"❌ File not found: {fnf}")
except Exception as e:
    print(f"❌ General Error: {e}")
finally:
    if cursor:
        cursor.close()
    if conn:
        conn.close()

❌ MySQL Error: 1054 (42S22): Unknown column 'Team' in 'field list'

In [ ]:
# First define the SQL string
view_sql = """
CREATE VIEW v_game_summary AS
SELECT
  g.title, gp.year_released, p.platform_name, pub.publisher_name,
  e.plays, e.wishlist, e.rating,
  SUM(s.sales_amount) AS total_sales
FROM Game g
JOIN Game_Platform_Publisher gp ON gp.game_id = g.game_id
JOIN Platform p ON gp.platform_id = p.platform_id
JOIN Publisher pub ON gp.publisher_id = pub.publisher_id
LEFT JOIN Engagement e ON e.game_id = g.game_id
LEFT JOIN Sales s ON s.gpp_id = gp.gpp_id
JOIN Region r ON s.region_id = r.region_id
GROUP BY g.title, gp.year_released, p.platform_name, pub.publisher_name, e.plays, e.wishlist, e.rating;
"""

# Then drop the view if it exists
cursor.execute("DROP VIEW IF EXISTS v_game_summary")
cursor.execute(view_sql)
conn.commit()

In [80]:
import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Maha2301##',
    database='game_db'
)
cursor = conn.cursor()

# SQL statement wrapped in triple quotes
merge_sql = """
CREATE TABLE IF NOT EXISTS merged_games AS
SELECT
  g.game_id,
  g.title,
  gp.year_released,
  p.platform_name,
  pub.publisher_name,
  COALESCE(e.plays, 0) AS plays,
  COALESCE(e.wishlist, 0) AS wishlist,
  COALESCE(e.rating, 0) AS rating,
  COALESCE(SUM(s.sales_amount), 0) AS total_sales
FROM Game g
LEFT JOIN Game_Platform_Publisher gp ON gp.game_id = g.game_id
LEFT JOIN Platform p ON gp.platform_id = p.platform_id
LEFT JOIN Publisher pub ON gp.publisher_id = pub.publisher_id
LEFT JOIN Engagement e ON e.game_id = g.game_id
LEFT JOIN Sales s ON s.gpp_id = gp.gpp_id
GROUP BY g.game_id, g.title, gp.year_released, p.platform_name, pub.publisher_name, e.plays, e.wishlist, e.rating;
"""

try:
    cursor.execute("DROP TABLE IF EXISTS merged_games")  # optional, to reset
    cursor.execute(merge_sql)
    conn.commit()
    print("✅ merged_games table created successfully.")
except mysql.connector.Error as err:
    print(f"❌ MySQL Error: {err}")
finally:
    cursor.close()
    conn.close()

✅ merged_games table created successfully.

In [84]:
import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Maha2301##',
    database='game_db'
)
cursor = conn.cursor()

# Query 1: Count rows in merged_games
cursor.execute("SELECT COUNT(*) FROM merged_games;")
merged_count = cursor.fetchone()[0]
print("Total rows in merged_games:", merged_count)

# Query 2: Count distinct game_id in Game table
cursor.execute("SELECT COUNT(DISTINCT game_id) FROM Game;")
distinct_game_count = cursor.fetchone()[0]
print("Distinct game_id in Game table:", distinct_game_count)

cursor.close()
conn.close()

Total rows in merged_games: 0
Distinct game_id in Game table: 0